<launch>

  <node pkg="point_cloud_assembler" type="point_cloud_assembler_srv" output="screen"  name="point_cloud_assembler">
    <remap from="scan_in" to="dummy_filtered_scan"/>
    <param name="tf_cache_time_secs" type="double" value="10.0" />
    <param name="max_scans" type="int" value="400" />
    <param name="fixed_frame" type="string" value="dummy_base_link" />
    <param name="downsample_factor" type="int" value="1" />
  </node>

  <node pkg="laser_scan" type="scan_shadows_filter_node" output="screen"  name="shadow_filter">
    <remap from="tilt_laser_cloud_filtered" to="dummy_filtered_scan"/>
    <remap from="tilt_scan" to="dummy_scan" />
  </node>

  <node pkg="point_cloud_assembler" type="point_cloud_snapshotter" output="screen" name="snapshotter">
    <remap from="laser_scanner_signal" to="dummy_signal"/>
    <remap from="build_cloud" to="point_cloud_assembler/build_cloud" />
    <remap from="full_cloud" to="dummy_cloud" />
  </node>

  <node pkg="point_cloud_assembler" type="dummy_scan_producer" output="screen"/>

  <test test-name="test_cloud_assembler" pkg="point_cloud_assembler" type="test_assembler" />

</launch>
